* {
  margin: 0px;
  padding: 0px;
}


.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #708090; 
    overflow-x: hidden; 
    padding-top: 20px;
	border: 1px solid black;
	font-family: Verdana;
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
	font-family: Verdana;
}

.sidenav a:hover {
	font-size: 20px;
    color: #f1f1f1;
	font-family: Verdana;
}


.main {
    margin-right: 160px; 
}


.log {
     background-image: url("image/login2.jpg");
    background-size: 100%;
}
.content1 {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  background: white;
}
.header {
  width: 40%;
  margin: 40px auto 0px;
  color: white;
  background: #708090;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  font-family: Verdana;
}
.header1 {
  width: 100%;
  margin: 0px auto 0px;
  color: white;
  background: #708090;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  padding: 20px;
  font-family: Verdana;
}
.info {
  width: 40%;
  margin: 50px auto 0px;
  color: white;
  background: #708090;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  font-family: Verdana;
}

a {
  text-decoration: none;
  color: blue;
  font-family: Verdana;
  font-size: 13px;	
}
a:hover {
  text-decoration: none;
  color: blue;
  font-family: Verdana;
  font-size: 12px;
  font-weight:bold;	
}
form, .content {
  width: 40%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 5px 5px;
}
.input-group {
  margin: 10px 0px 10px 0px;
  font-family: Verdana;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #708090;
  border: none;
  border-radius: 2px;
  font-family: Verdana;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
 div.block{
        display:inline-block;
        padding:25px;
        margin:15px;
}
div.block:hover{
        margin:5px;
        padding:35px;
}
#footer {
    position: fixed; 
    left: 0; bottom: 0; 
    padding: 15px; 
    background: #708090; 
    color: white; 
    width: 100%; 
	font-family: Verdana;
   }